
<header *ngIf="statusS.get_header_footer_status()">

    <!-- TOP NAVIGATION #1 -->
    <nav class="py-2 bg-light border-bottom top-nav-1-cus">
        <div class="container d-flex flex-wrap justify-content-center">
            <ul class="align-items-center justify-content-center m-auto m-md-0 me-md-auto nav">

                <li class="nav-item img-item-cus">
                    <a href="#" class="nav-link text-light px-2 active img-anchor-cus" aria-current="page"><img src="./assets/img/fb.png" width="12" height="12"></a>
                </li>

                <li class="nav-item img-item-cus">
                    <a href="#" class="nav-link text-light px-2 active img-anchor-cus" aria-current="page"><img src="./assets/img/tw.png" width="12" height="12"></a>
                </li>

                <li class="nav-item img-item-cus">
                    <a href="#" class="nav-link text-light px-2 active img-anchor-cus" aria-current="page"><img src="./assets/img/ins.png" width="12" height="12"></a>
                </li>

                <li class="nav-item img-item-cus">
                    <a href="#" class="nav-link text-light px-2 active img-anchor-cus" aria-current="page"><img src="./assets/img/ln.png" width="12" height="12"></a>
                </li>

            </ul>

            <ul class="nav gap-3">
                <li class="align-items-center d-flex justify-content-center nav-item">
                    <button (click)="sign_out()" class="text-white text-uppercase bg-transparent border-0">Sign out</button>
                </li>

                <li class="nav-item">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>US</option>
                        <option value="1">INR</option>
                        <option value="2">EURO</option>
                    </select>
                </li>

            </ul>
        </div>
    </nav>


    <!-- TOP NAVIGATION #2 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light top-nav-2-cus">
        <div class="container">

            <!-- toggle header -->
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="./assets/img/akalatee_favicon.png" class="bi me-2" width="40" height="32" role="img" aria-label="akalatee logo">
                <span class="fs-4 top-nav-2-title">Akalatee</span>
            </a>
            <button class="navbar-toggler mobile-top-nav-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_top_nav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- toggle content -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas_top_nav" aria-labelledby="offcanvas_top_nav" data-bs-scroll="true" data-bs-backdrop="false">

                <div class="offcanvas-header" style="background: #01b7f2;">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    <ul class="col-md-auto flex-column flex-lg-row gap-2 gap-lg-0 justify-content-lg-center justify-content-start mb-2 mb-md-0 navbar-nav nav">

                        <li class="offcanvas-item-style"><a href="#" class="nav-link link-secondary offcanvas-item-anchor">Home</a></li>

                        <li class="nav-item dropdown offcanvas-item-style">
                            <a class="nav-link dropdown-toggle offcanvas-item-anchor" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">
                                Restaurants
                            </a>
                            <ul class="dropdown-menu p-0 m-0 offcanvas-item-list" aria-labelledby="dropdown07">
                                <li><a class="dropdown-item nav-select-item-cus" href="#">rest. 1</a></li>
                                <li><a class="dropdown-item nav-select-item-cus" href="#">rest. 2</a></li>
                                <li><a class="dropdown-item nav-select-item-cus" href="#">rest. 3</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown offcanvas-item-style">
                            <a class="nav-link dropdown-toggle offcanvas-item-anchor" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">
                                Markets
                            </a>
                            <ul class="dropdown-menu p-0 m-0 offcanvas-item-list" aria-labelledby="dropdown07">
                                <li><a class="dropdown-item nav-select-item-cus" href="#">mark. 1</a></li>
                                <li><a class="dropdown-item nav-select-item-cus" href="#">mark. 2</a></li>
                                <li><a class="dropdown-item nav-select-item-cus" href="#">mark. 3</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown offcanvas-item-style">
                            <a class="nav-link dropdown-toggle offcanvas-item-anchor" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">
                                Meat
                            </a>
                            <ul class="dropdown-menu p-0 m-0 offcanvas-item-list" aria-labelledby="dropdown07">
                                <li><a class="dropdown-item nav-select-item-cus" href="#">meat. 1</a></li>
                                <li><a class="dropdown-item nav-select-item-cus" href="#">meat. 2</a></li>
                                <li><a class="dropdown-item nav-select-item-cus" href="#">meat. 3</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown offcanvas-item-style">
                            <a class="nav-link dropdown-toggle offcanvas-item-anchor" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">
                                Spring rolls
                            </a>
                            <ul class="dropdown-menu p-0 m-0 offcanvas-item-list" aria-labelledby="dropdown07">
                                <li><a class="dropdown-item nav-select-item-cus" href="#">sp.rol. 1</a></li>
                                <li><a class="dropdown-item nav-select-item-cus" href="#">sp.rol. 2</a></li>
                                <li><a class="dropdown-item nav-select-item-cus" href="#">sp.rol. 3</a></li>
                            </ul>
                        </li>




                    </ul>
                
                    <div class="col-md-3 text-end top-nav-2-bg-btn-box">
                        <button type="button" class="btn me-0 me-lg-2 rounded-pill btn-first-cus btn-submit-cus top-nav-2-bg-btn">Order Now</button>
                    </div>
                </div>

            </div>

        </div>
    </nav>


</header>